.light-card {
  min-width: 300px;
  max-width: 400px;
  background-color: #424242;
}

.example-header-image {
  position: relative;
  overflow: hidden;
  background-image: url('https://www.pngrepo.com/png/32387/512/light-bulb.png');
  background-size: cover;
}

.example-header-image.light-off {
  background-image:
    linear-gradient(black, black),
    url('https://www.pngrepo.com/png/32387/512/light-bulb.png');
  background-size: cover;
  background-blend-mode: saturation;
}

.slider-bri {
  width: 100%;
}
